.transactions {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 24px;

  .transaction-item {
    .account-name {
      font-size: 20px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
      margin-bottom: 24px;
      padding-bottom: 24px;
    }

    .deposit {
      padding: 8px;
      background-color: rgba($color: #00e817, $alpha: 0.1);
      color: #069f15;
      font-size: 14px;
      border-radius: 4px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .withdraw {
      padding: 8px;
      background-color: rgba($color: #ee4410, $alpha: 0.1);
      color: #ee4410;
      font-size: 14px;
      border-radius: 4px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .transfer {
      padding: 8px;
      background-color: rgba($color: #eecd10, $alpha: 0.1);
      color: #ebc90b;
      font-size: 14px;
      border-radius: 4px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .transaction-item-left {
      max-width: 300px;
      width: 100%;
    }

    .transaction-item-amount {
      max-width: 300px;
      width: 100%;
      display: flex;
      justify-content: end;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 8px;

  .current {
    padding: 0px 12px;
  }
}

.horizontal-filters {
  column-gap: 24px;
  row-gap: 12px;
  .date-picker {
    width: 100px;
    cursor: pointer;
  }
}

.sort-dropdown {
  position: relative;
  display: inline-block;
  width: 250px;

  select {
    width: 100%;
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    transition: border-color 0.3s;
    line-height: 20px;
    height: 42px;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 30px;
    color: #777;
  }
}

.sort-dropdown-list {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;

  .sort-dropdown-item {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f8f9fa;
    }

    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}

@media (max-width: 768px) {
  .transactions {
    padding: 12px;

    .transaction-item {
      .account-name {
        font-size: 16px;
      }
    }
  }

  .horizontal-filters {
    column-gap: 8px;
    row-gap: 12px;
    .date-picker {
      width: 100px;
      cursor: pointer;
    }
  }
}
