.account-item {
  width: 300px;
  height: 350px;
  background-color: #1e1f25;
  color: #fff;

  .copy-btn {
    position: relative;

    .copy-icon {
      width: 20px;
    }

    .copy-message {
      transition: 0.3s linear;
      position: absolute;
      top: -10px;
      left: 20px;
      width: 200px;
      background-color: #212529;
      color: #fff;
      border-radius: 8px;
      padding: 4px;
      font-size: 14px;
      margin-bottom: 0px;
      line-height: 16px;
    }
  }
}
